In [1]:
import pandas as pd
dataframe = pd.read_csv('yellow_tripdata_2016-01.csv')
dataframe.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-01-01 00:00:00,2016-01-01 00:00:00,2,1.10,-73.990372,40.734695,1,N,-73.981842,40.732407,2,7.5,0.5,0.5,0.0,0.0,0.3,8.8
1,2,2016-01-01 00:00:00,2016-01-01 00:00:00,5,4.90,-73.980782,40.729912,1,N,-73.944473,40.716679,1,18.0,0.5,0.5,0.0,0.0,0.3,19.3
2,2,2016-01-01 00:00:00,2016-01-01 00:00:00,1,10.54,-73.984550,40.679565,1,N,-73.950272,40.788925,1,33.0,0.5,0.5,0.0,0.0,0.3,34.3
3,2,2016-01-01 00:00:00,2016-01-01 00:00:00,1,4.75,-73.993469,40.718990,1,N,-73.962242,40.657333,2,16.5,0.0,0.5,0.0,0.0,0.3,17.3
4,2,2016-01-01 00:00:00,2016-01-01 00:00:00,3,1.76,-73.960625,40.781330,1,N,-73.977264,40.758514,2,8.0,0.0,0.5,0.0,0.0,0.3,8.8

In [2]:
dataframe.iloc[200:230]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
200,1,2016-01-29 09:18:23,2016-01-29 09:23:47,1,0.60,-73.984261,40.754833,1,N,-73.976952,40.758533,1,5.5,0.0,0.5,1.25,0.0,0.3,7.55
201,1,2016-01-29 09:18:23,2016-01-29 09:32:05,1,1.80,-73.993362,40.746902,1,N,-73.983063,40.765793,1,10.5,0.0,0.5,2.80,0.0,0.3,14.10
202,2,2016-01-29 09:18:23,2016-01-29 09:44:52,1,2.96,-73.962234,40.776077,1,N,-73.989807,40.741180,1,17.5,0.0,0.5,2.00,0.0,0.3,20.30
203,2,2016-01-29 09:18:23,2016-01-29 09:23:09,5,0.89,-73.935699,40.761070,1,N,-73.937744,40.753674,1,5.5,0.0,0.5,1.26,0.0,0.3,7.56
204,2,2016-01-29 09:18:23,2016-01-29 09:19:37,6,0.27,-73.977333,40.750141,1,N,-73.980461,40.747620,2,3.0,0.0,0.5,0.00,0.0,0.3,3.80
205,2,2016-01-29 09:18:23,2016-01-29 09:32:15,2,2.01,-73.961037,40.796726,1,N,-73.953400,40.778481,1,10.5,0.0,0.5,1.11,0.0,0.3,12.41
206,2,2016-01-29 09:18:23,2016-01-29 09:21:34,2,0.69,-73.961021,40.769470,1,N,-73.963509,40.774231,1,4.5,0.0,0.5,0.00,0.0,0.3,5.30
207,2,2016-01-29 09:18:24,2016-01-29 09:22:37,1,0.78,-73.988258,40.753811,1,N,-73.985550,40.747093,2,4.5,0.0,0.5,0.00,0.0,0.3,5.30
208,2,2016-01-29 09:18:24,2016-01-29 09:35:43,1,3.92,-73.996025,40.686729,1,N,-74.015823,40.714470,2,15.5,0.0,0.5,0.00,0.0,0.3,16.30
209,2,2016-01-29 09:18:24,2016-01-29 09:29:51,1,1.61,-73.990829,40.750526,1,N,-73.989334,40.734081,1,9.0,0.0,0.5,1.96,0.0,0.3,11.76
210,1,2016-01-29 09:18:25,2016-01-29 09:40:03,1,4.70,-73.989304,40.740479,1,N,-74.008377,40.711029,1,19.0,0.0,0.5,3.95,0.0,0.3,23.75
211,1,2016-01-29 09:18:25,2016-01-29 09:29:35,1,2.50,-73.969910,40.784592,1,N,-73.943504,40.801605,2,10.5,0.0,0.5,0.00,0.0,0.3,11.30
212,2,2016-01-29 09:18:25,2016-01-29 09:26:04,2,1.07,-73.966850,40.761639,1,N,-73.953491,40.767239,2,6.5,0.0,0.5,0.00,0.0,0.3,7.30
213,2,2016-01-29 09:18:25,2016-01-29 09:33:39,6,5.41,-73.981110,40.779388,1,N,-73.940018,40.841232,1,18.0,0.0,0.5,4.70,0.0,0.3,23.50
214,2,2016-01-29 09:18:25,2016-01-29 09:29:08,6,1.48,-73.985451,40.744511,1,N,-73.971123,40.759270,1,8.5,0.0,0.5,1.00,0.0,0.3,10.30
215,2,2016-01-29 09:18:25,2016-01-29 09:29:06,5,2.06,-73.964943,40.795132,1,N,-73.939461,40.804630,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
216,1,2016-01-29 09:18:26,2016-01-29 09:29:41,1,0.90,-73.967773,40.756008,1,N,-73.979218,40.752991,1,8.0,0.0,0.5,1.75,0.0,0.3,10.55
217,1,2016-01-29 09:18:26,2016-01-29 09:31:53,1,1.50,-73.992714,40.755222,1,N,-73.991325,40.738808,1,10.0,0.0,0.5,1.00,0.0,0.3,11.80
218,1,2016-01-29 09:18:26,2016-01-29 09:28:59,1,1.30,-73.956329,40.771435,1,N,-73.970238,40.759201,2,8.5,0.0,0.5,0.00,0.0,0.3,9.30
219,2,2016-01-29 09:18:26,2016-01-29 09:25:24,1,0.52,-73.968437,40.799446,1,N,-73.966438,40.794395,1,6.0,0.0,0.5,1.00,0.0,0.3,7.80
220,2,2016-01-29 09:18:26,2016-01-29 09:36:30,2,2.36,-73.961052,40.760811,1,N,-73.982964,40.748020,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
221,2,2016-01-29 09:18:26,2016-01-29 09:25:02,1,4.48,-73.971901,40.794781,1,N,-73.938721,40.848560,1,13.5,0.0,0.5,2.00,0.0,0.3,16.30
222,2,2016-01-29 09:18:26,2016-01-29 09:22:00,5,0.32,-73.958229,40.778740,1,N,-73.961159,40.774651,1,4.0,0.0,0.5,0.96,0.0,0.3,5.76
223,1,2016-01-29 09:18:27,2016-01-29 09:49:13,1,8.60,-73.946053,40.792473,1,N,-73.993172,40.719765,1,28.0,0.0,0.5,5.75,0.0,0.3,34.55
224,1,2016-01-29 09:18:27,2016-01-29 09:27:58,1,1.90,-73.956032,40.781097,1,N,-73.938889,40.804958,1,9.0,0.0,0.5,1.96,0.0,0.3,11.76
225,1,2016-01-29 09:18:27,2016-01-29 09:32:19,2,1.10,-73.981941,40.752144,1,N,-73.972824,40.758106,1,9.5,0.0,0.5,2.05,0.0,0.3,12.35
226,2,2016-01-29 09:18:27,2016-01-29 09:48:03,5,3.32,-73.953644,40.766621,1,N,-73.993240,40.747292,1,19.0,0.0,0.5,1.00,0.0,0.3,20.80
227,2,2016-01-29 09:18:27,2016-01-29 09:27:07,1,0.60,-73.991760,40.749249,1,N,-73.989311,40.743813,1,7.0,0.0,0.5,1.56,0.0,0.3,9.36
228,2,2016-01-29 09:18:27,2016-01-29 09:23:41,1,0.81,-73.972549,40.746521,1,N,-73.967903,40.755531,1,5.5,0.0,0.5,1.58,0.0,0.3,7.88
229,2,2016-01-29 09:18:27,2016-01-29 09:27:47,5,0.79,-73.989883,40.735252,1,N,-73.981247,40.736366,2,7.5,0.0,0.5,0.00,0.0,0.3,8.30

In [3]:
dataframe[dataframe['tolls_amount'] != 0.0].head(10
                                                )

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
84,1,2016-01-01 00:00:56,2016-01-01 00:17:24,1,5.70,-73.987724,40.750568,1,N,-74.035568,40.713573,1,18.0,0.5,0.5,8.00,10.50,0.3,37.80
88,2,2016-01-01 00:01:01,2016-01-01 00:13:08,6,7.85,-73.979630,40.743256,1,N,-73.911873,40.764629,1,22.5,0.5,0.5,5.87,5.54,0.3,35.21
108,1,2016-01-01 00:01:14,2016-01-01 00:38:19,1,24.00,-73.992302,40.749290,5,N,-74.320328,40.720524,1,140.0,0.0,0.0,30.95,14.50,0.3,185.75
253,1,2016-01-29 09:18:31,2016-01-29 09:45:17,1,7.00,-74.000206,40.678452,1,N,-73.983047,40.734821,1,25.5,0.0,0.5,6.35,5.54,0.3,38.19
254,1,2016-01-29 09:18:31,2016-01-29 09:51:40,1,15.90,-73.983627,40.747643,2,N,-73.787048,40.646912,1,52.0,0.0,0.5,11.65,5.54,0.3,69.99
255,2,2016-01-29 09:18:31,2016-01-29 09:40:50,6,6.82,-73.951729,40.769489,1,N,-73.912170,40.758942,1,23.5,0.0,0.5,5.97,5.54,0.3,35.81
268,2,2016-01-29 09:18:33,2016-01-29 09:40:10,1,10.76,-73.977135,40.751945,1,N,-73.870529,40.773758,1,31.5,0.0,0.5,5.00,5.54,0.3,42.84
289,1,2016-01-29 09:18:37,2016-01-29 09:56:54,1,10.20,-73.872765,40.773754,1,N,-73.973061,40.761772,1,35.0,0.0,0.5,8.25,5.54,0.3,49.59
302,1,2016-01-29 09:18:39,2016-01-29 09:53:16,1,15.20,-73.974411,40.749657,2,N,-73.790817,40.663429,1,52.0,0.0,0.5,17.50,5.54,0.3,75.84
388,2,2016-01-29 09:18:54,2016-01-29 10:08:47,2,12.93,-74.000771,40.762310,1,N,-73.865028,40.770580,1,46.0,0.0,0.5,10.47,5.54,0.3,62.81

In [4]:
print('Maximum:', dataframe['fare_amount'].max())
print('Minimum:', dataframe['fare_amount'].min())
print('Mean:', dataframe['fare_amount'].mean())
print('Sum:', dataframe['fare_amount'].sum())
print('Count:', dataframe['fare_amount'].count())

Maximum: 111270.85
Minimum: -957.6
Mean: 12.486929470430434
Sum: 136193166.58999994
Count: 10906858

In [5]:
dataframe['store_and_fwd_flag'].value_counts()

store_and_fwd_flag
N    10843625
Y       63233
Name: count, dtype: int64

In [6]:
dataframe['store_and_fwd_flag'].nunique()

2

In [8]:
dataframe[dataframe['passenger_count'].isnull()].head(2)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, pickup_longitude, pickup_latitude, RatecodeID, store_and_fwd_flag, dropoff_longitude, dropoff_latitude, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount]
Index: []

In [10]:
if dataframe.isnull().values.any():
    print("The DataFrame contains missing values.")
else:
    print("The DataFrame does not contain missing values.")

The DataFrame does not contain missing values.

In [12]:
dataframe.drop_duplicates().head(2)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-01-01 00:00:00,2016-01-01 00:00:00,2,1.1,-73.990372,40.734695,1,N,-73.981842,40.732407,2,7.5,0.5,0.5,0.0,0.0,0.3,8.8
1,2,2016-01-01 00:00:00,2016-01-01 00:00:00,5,4.9,-73.980782,40.729912,1,N,-73.944473,40.716679,1,18.0,0.5,0.5,0.0,0.0,0.3,19.3

In [13]:
print("Number Of Rows In The Original DataFrame:", len(dataframe))
print("Number Of Rows After Deduping:", len(dataframe.drop_duplicates()))

Number Of Rows In The Original DataFrame: 10906858
Number Of Rows After Deduping: 10906857

In [ ]:
dataframe.groupby('payment_type').count()